# Compiled source
obj/*.o
obj
obj-full/*.o
obj-full
Rawsock_lib/Rawsock_lib/*.o

# Compiled LaTe executable
LaTe

# nohup.out file, if the user launches LaTe with nohup (can be useful with daemon mode servers)
nohup.out

# Any CSV log file that could be present in the main LaTe directory
*.csv